<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>My Projects</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Project 1: Bloom-Glow</h2>
            <p>A web application that does amazing things. Built with Flask, HTML, CSS, and JavaScript.</p>
            <h2>Project 2: Sail-Stream</h2>
            <p>This is a simple react project used to add product and view product using Api.</p>
            <h2>Project 3:My_Port_Folio</h2>
            <p>This portfolio website you're currently viewing! Built with Flask and simple front-end technologies.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 [Your Name]. All rights reserved.</p>
    </footer>
</body>
</html>
