/* General styles for the body and header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3f3f3f;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

h1{
    text-align: center;
}

/* Profile section styling */
.profile-section {
    margin: 20px;
}

.profile-img-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Limit the maximum width of the image container */
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

/* Styling for text over the image */
.profile-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
}

.profile-text h2 {
    margin: 0;
    font-size: 24px;
}

.profile-text p {
    font-size: 16px;
    margin-top: 10px;
}

/* Responsive design: Adjust text and image size on smaller screens */
@media (max-width: 768px) {
    .profile-img {
        width: 90%;
    }

    .profile-text h2 {
        font-size: 20px;
    }

    .profile-text p {
        font-size: 14px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Project container styling */
.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px; /* Space between containers */
}

/* Styling for each project container */
.project-container {
    max-width: 700px;
    max-height: 700px;
    border: 1px solid #464444;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for project images */
.project-img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

/* Project text styling */
.project-text {
    padding: 10px;
}

.project-text h2 {
    font-size: 1.5rem;
    color: #f0a9a9;
}

.project-text p {
    font-size: 1rem;
    color: #c4bdbd;
}

.project-text a {
    color: #eef3ef;
    text-decoration: none;
}


/* Responsive design: Adjust text and image size on smaller screens */
@media (max-width: 768px) {
    .project-img {
        width: 90%; /* Make image slightly larger on small screens */
    }

    .project-text h2 {
        font-size: 20px;
    }

    .project-text p {
        font-size: 14px;
    }
}