<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to My Portfolio</h1>
        <section class="profile-section">
            <div class="profile-img-container">
                <!-- Image and text inside container -->
                <img src="{{ url_for('static', filename='images/flat-lay-workstation-with-copy-space-laptop_23-2148430879.avif') }}" alt="Profile Picture" class="profile-img">
                <div class="profile-text">
                    <h2>Hi, I'm Aiswarya Krishnan</h2>
                    <p>This is my portfolio website where you can learn more about me and my work.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>@ 2024 Aiswarya Krishnan. All rights reserved.</p>
    </footer>
</body>
</html>
